.image-modal{
    z-index: 6;  
    width: 100vw; 
    height: 300vh;    
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.521);
    display:flex;
    position: fixed;
    top:0;
    left:0;
}
.hidden{
  display:none;
}

.image-container{
    border: 5px solid white;
    height: 800px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:50%;
    margin-left: -37%; 
    margin-top: 5vh;
    background-color: black;
       
}
.modal-image{   
    height: 90%;
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.918);
}
.image-modal .modal-image img{   
    border:none;
    height:auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

.image-modal .arrow{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 5%;
    font-size: 28px;
    color: white;
    height:90%;
    cursor: pointer;
    background-color: rgb(128, 128, 128);
    opacity: .5;
    transition: all .25s;
    
}

.image-modal .arrow:hover{
    opacity: 1;
    
}

.close{
    display:flex;
    justify-content: flex-end;
    font-size: 25px;
    color: white;
    width:100%;
    text-align: right;
    padding-right: 25px;
      
}
.close p{
    cursor: pointer;
    color: white;
    text-shadow: none;   
    width: 25px;
    text-align: center;
    background-color: red;
    border-radius: 3px;
    transition: transform .25s;
}
.close p:hover{
    transform: translateY(2px);
}

@media only screen and (max-width: 800px){
    .image-modal{
        display:none;
    }
}