#admin {
    display: flex;
    width: 100%;
    background-color: gray;
    height: 100%;
    
}

#admin .submenu {
    display: flex;
}

#admin .submenu li {
    list-style: none;
    margin-left: 5px;
    font-family: bold;
    font-size: 20px;
}

#admin .submenu li:hover {
    cursor: pointer;
}

.theme.palette.primary {
    color: white;
}

#admin-record {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.record-list {
    max-width: 650px;
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.record {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 10px;
}

.record:nth-child(2n) {
    color: white;
    background-color: black;
}

.cell {
    width: 20%;
    box-sizing: border-box;
}

.icon {
    cursor: pointer;
    transition: transform .25s;
}

.icon:hover {
    transform: translateY(3px);
}

#admin-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#media-container {
    display: flex;
    flex-wrap: wrap;
}

#admin-media .media-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 12px;
    height: 300px;
    max-height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
}

#admin-media .media-card img, #admin-media .media-card video {
    width: 100%;
    max-height: 90%;
    height: auto;
}

#admin-media .media-card button {
    width: 100%;
}

@media only screen and (max-width:1100px) {
    #admin-record {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
        height: 100%;
    }

    #admin form {
        padding: 10px 5px;
        width: auto;
    }

    #admin form .textFieldContainer {

        width: 100%;
    }

    #admin-record .record-list {
        padding: 0;
        margin: 0;
        margin-top: 3em;

    }

    .record-list .cell {
        font-size: 1rem;
    }
}

.sideMenu {
    padding-right: 5em;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;
    border-left: 3px solid white;

}

.sideMenu li {
    text-decoration: none;
    list-style: none;
    margin: 5px 0;
    font-weight: bolder;
    font-size: 20px;
}

.sideMenu li:hover {
    cursor: pointer;
}

.subMenu li {
    font-weight: bold;
    font-size: 15px;
    margin: 8px 0;
}

.dropdown {
    display: none;
}

.sideMenu .isActive {
    border-bottom: 3px solid white;
}

@media only screen and (max-width:880px) {
    #admin {
        flex-direction: column;
        align-items: center;
    }

    .horseMenu {
        width: 100%;
    }

    #side-menu {
        display: none;
    }

    .dropdown {
        display: flex;
        position: sticky;
        top: 0;
        width: 880px;
        max-width: 100%;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-top: 1px;
        padding: 0;
    }
    .dropdown option{
        margin: 0;
        padding: 0;
        display: flex;
        min-height: 15px;
    }

    .topMenu {
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

@media only screen and (max-width:675px) {
    #media-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #media-container .media-card {
        margin: 15px auto;
    }
}

@media only screen and (max-width:400px) {
    .record-list .cell {
        font-size: 12px;
    }
}