#admin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
#admin form{
    width:100%;
    display: flex;
    flex-direction: column;   
    justify-content: start;
    align-items: start;
}

.sideMenu{
    margin:0 auto 0 0;
}

.topMenu{
    display: flex;
}
.topMenu li{
    list-style: none;
    margin:0 12px;
    font-size: 20px;
    font-weight: bold;
}

.topMenu li:hover{
    cursor: pointer;
}

#adminMedia .mediaContainer{
 height: 300px;
 width:300px;
 
}

#adminMedia form{
    border:1px solid black;
    margin-bottom: 12px;
}
#adminMedia .mediaContainer img{
    height: 200px;
}
#adminMedia .mediaContainer button{
    background-color: red;
    font-size: 20px;
    border: none;
    margin-top: 2px;
}
#adminMedia .mediaContainer button:hover{
    cursor: pointer;
}

.record{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.record p{
    font-weight: bold;
}

@media only screen and (max-width:750px){
   #admin{
    flex-direction: column;
   }
}