.journal-card {
    background: url("../../../../static/images/paper.png");
    background-repeat: none;
    background-size: cover;
    height: 500px;
    width: 300px;
    padding-left: 25px;
    padding-right: 5px;
    padding-top:105px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
    overflow: hidden;
    font-family: 'Just Another Hand', cursive;   

}


.journal-card h3 {
    letter-spacing: 1.5px;
    line-height: 1.1;
    font-size: 25px;
    margin: 0;
    margin-bottom: 3px;
    
}