.journal-card {
    background: url("../../../../static/images/paper.png");
    background-repeat: none;
    background-size: cover;
    height: 500px;
    width: 300px;
    padding-left: 25px;
    padding-right: 5px;
    padding-top:105px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    overflow: hidden;
    font-family: 'Just Another Hand', cursive;     
    position:relative;
}


.journal-card h3 {
    letter-spacing: 1.5px;
    line-height: 1.1;
    font-size: 25px;
    margin: 0;
    margin-bottom: 3px;
    
}

.journal-card .deleteBtn{
    position: absolute;
    top:80px;
    right:75px;
    width:75px;
    background-color: red;
}