html {
  scroll-padding-top: 165px;
}

.horse-page {
  width: 100%;
  max-width: 1144px;
  margin: 0 auto; 
  padding: 0 12px; 
}

.horse-page h1{
  margin: 0;
  font-size: 5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.horse-page nav {
  width: 100%;
  max-width: 400px;
  height: 30px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  left: 50%;
  top:120px;
  transform: translate(-50%, 0);
  background-color: saddlebrown;
  padding:5px 15px;
  border-radius: 5px;
  z-index: 3;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5em;
  color: inherit;
}

.nav-link:hover{
    font-size: 1.55;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.active{
    font-size: 1.55;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color:antiquewhite;
}

.two-col {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 50%;
  box-sizing: border-box;
}

.horse-container { 
  width: 100%;
  margin: 2.5em auto;
  padding-right: 15px;  
  display:flex;
  flex-direction: column;
  justify-content: center;  
  
}

.horse-container .two-col {
  max-width: 800px;
  text-align: left; 
  margin:0 auto;
}

.main-horse-image {
  width: auto;
  max-width: 95%;
  max-height: 400px;
  border: 5px solid white;
  
}

.horse-page p {
  font-size: 22px;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgb(187, 187, 187);
  color: rgb(0, 0, 0);
}
.horse-page .about{ 
  padding-right: 18px;
  padding-left: 0;
}
.horse-page .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}
.horse-page .gallery .imgContainer {
  width: 100%;
  max-width: 300px;
  margin: 12px;
  transition: all 0.25s;
}

.imgContainer img {
  border: 5px solid white;
  cursor: pointer;
  width: 100%;
}

.horse-page .gallery img:hover {
  box-shadow: 3px 3px 13px black;
  transform: translateY(-5px);
}


.sub-menu{
  width:250px;
  height:25px;
  position: absolute;
  top:38px;
  left:50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  border:1px solid black;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin:0;
  background-color: black;
  color: white;  
  z-index: 1;
  visibility: hidden;
  
}
@media only screen and (max-width: 900px) {
  .two-col {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .two-col .col {
    width: 100%;
    justify-content: flex-start;
    text-align: left;
  }
  .horse-page h1,
  .horse-page p {
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  .records {
    display: none;
  }
}
