.error-handler{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-shadow: 5px 5px 15px black;
    text-transform: uppercase;
    padding: 50px 15px;
    min-height: 70vh;
    
}
.error-handler img{
    width:200px;    
}

@media only screen and (max-width:830px){
    .error-handler img{
        width:450px;
    }
    
}

@media only screen and (max-width:450px){
    .error-handler img{
        width:250px;
    }
    
}



  