.horse-card{   
    width:300px;
    height:400px;
    margin:10px 1em;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    background-color: antiquewhite;    
    transition: transform .25s;
}

.horse-card a{
    text-decoration: none;
    color: inherit;
}

.horse-card:hover{
    box-shadow: 1px 1px 5px black;
    transform: translateY(2px);
}



.horse-card h1, .horse-card h2, .horse-card h3, .horse-card h4, .horse-card h5, .horse-card h6{
    margin:5px 0;
    padding: 0;
    max-width: 95%;
    border-bottom: 1px solid;
}

.card-top{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height:50%;
    color:rgb(255, 255, 255);
}

.card-top img{
    height: 100%;
    width: auto;
    max-width:100%;
}

.card-name{
    text-align: center;
}
.card-details{
    text-align: left;    
}