html{
    scroll-padding-top: 165px;
}

.horse-page {   
    width: 100%;
    max-width: 1144px;
    margin: 0 auto;
    padding: 0 12px;
    margin-top: 5em; 
    height: 100vh;   
    
}

.horse-page::-webkit-scrollbar{
    opacity: 0;
}

.two-col {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 50%;
    box-sizing: border-box;
}

.horse-container {
    padding-right: 10px;
    max-width: 100%;
}

.main-horse-image {
    width: 400px;
    max-width: 95%;
    max-height: 400px;
    border: 5px solid white;
    
}

.horse-page p {
    font-size: 22px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgb(187, 187, 187);
    color: rgb(0, 0, 0);
}


.horse-page .gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 650px;
    overflow-y: scroll;
}
.horse-page .gallery img {
    max-width: 300px;
    max-height: 300px;
    margin: 12px;
    border: 5px solid white;
    cursor: pointer;
    transition: all .25s;
}

.horse-page .gallery img:hover {
    box-shadow: 3px 3px 13px black;
    transform: translateY(-5px);
}

.horse-page .records {   
    width: 100%;
    margin-bottom: 5em;
}

.horse-page .records table { 
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border-collapse: collapse;
    position: relative;

}

.horse-page .records table thead {
    
    background-color: black;    
    position: sticky;
    top: 0;
}

.horse-page .records table tbody{
    max-height: 600px;
    overflow-y: hidden;
}
.horse-page .records table tbody tr {   
    height: 50px;
    background-color: grey;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    transition: all .25s;
}

.horse-page .records table tbody tr:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 5px black;
}

.horse-page .records table tbody tr:nth-child(even) {
    background-color: white;
    color: black;
    text-shadow: 1px 1px 1px white;
}

.mini-nav{
    display: flex;
    list-style: none;    
    padding: 0;
    margin: 0;
}
.mini-nav li{
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
}
.mini-nav li a{
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width:900px){
    .two-col{
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .two-col .col{
        width: 100%;
        justify-content: flex-start;
        text-align: left;
    }
    .horse-page h1, .horse-page p{
        margin: 0;        
    }
}

@media  only screen and (max-width:500px) {
    .records{
        display:none;
    }
    
}